<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tantárgyak</title>
    <link rel="stylesheet" href="/main.css">

</head>

<body>
    <nav class="topnav">
        <img src="/pictures/user.png" alt="user" onclick="openUserInformations()">
        <a href="/" class="active">Home</a>
        <a href="/subject">New subject</a>
        <a href="/file">Upload file</a>
        <a href="/student">Join subject</a>
    </nav>
    <%- include('./partials/userInformation.ejs') %>
    <div class="subject-details">
        <div>
            <h2>Tantárgy adatai:</h1>
                <table>
                    <tr>
                        <th>Egyedi kód</th>
                        <th>Név</th>
                        <th>Évfolyam</th>
                        <th>Kurzusok száma</th>
                        <th>Szeminariumok száma</th>
                        <th>Laborok száma</th>
                    </tr>
                    <tr>
                        <td>
                            <%=subject.subjectName %>
                        </td>
                        <td>
                            <%=subject.subjectID %>
                        </td>
                        <td>
                            <%=subject.year %>
                        </td>
                        <td>
                            <%=subject.numberOfCourses %>
                        </td>
                        <td>
                            <%=subject.numberOfSeminars %>
                        </td>
                        <td>
                            <%=subject.numberOfLabs %>
                        </td>
                    </tr>
                </table>
        </div>
        <div class="subject-files">
            <h2>Fileok:</h2>
            <% if(role==='admin' || username===subject.userID) { %>
              <% files.forEach((file)=> { %>
                <p id="<%=file.id %>"><a href="/<%=file.filePath%>" download=<%=file.fileName%> >
                        <%=file.fileName%>
                    </a>
                    <button class="deleteButton"
                        onclick="deleteLink(`<%=file.id %>`)">delete</button>
                </p>
                <% }) %>
            <% } else { %>
                <% files.forEach((file)=> { %>
                    <p id="<%=file.id %>">
                        <a href="/<%=file.filePath%>" download=<%=file.fileName%> >
                            <%=file.fileName%>
                        </a>
                    </p>
             <% }) } %>

        </div>
        <div>
            <% if(role==='admin' || username===subject.userID) { %>
            <h2>File feltöltés:</h2>
            <form class="uploadForm" action="/file/submit/<%=subject.subjectID%>" method="post" enctype="multipart/form-data">
                <p><input type="file" name="myfile" required /></p>
                <p><input type="submit" value="Submit" /></p>
            </form>
            <% } %>
        </div>
        <%- include('./partials/popup.ejs') %> 
    </div>
    <%- include('./partials/footer.ejs') %>
    <script src="/main.js"></script>
</body>

</html>