<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
    <script src="https://kit.fontawesome.com/57ff89206e.js" crossorigin="anonymous"></script>
</head>

<body >
    <nav class="topnav">
        <% if (role=='guest') {  %>
            <img src="/pictures/guest.png" alt="user" onclick="openUserInformations()">
            <a href="#" class="active">Home</a>
        <% } else { %>
            <img src="/pictures/user.png" alt="user" onclick="openUserInformations()">
            <a href="#" class="active">Home</a>
            <a href="/subject">New subject</a>
            <a href="/student">Join subject</a>  
            <a href="/schedule">Schedule</a>    
        <% } %>
        <% if(role=='admin'){ %>
            <a href="/signup">Sign up</a>
            <div class="subnav">
                <button class="subnavbtn ">Timetables <i class="fa fa-caret-down"></i></button>
                <%- include('./partials/subnav.ejs')%>
            </div>
        <% } else if ( role=='user') { %>
            <a href="/timetable/teacher/<%=username%>">Timetable</a> 
        <% } %>

    </nav>
    
    <div class="subjects">
        <%- include('./partials/userInformation.ejs') %>
        <% subjects.forEach((subject)=> { %>
            <%if(role!='user' || subject.userID == username ){ %>
            <div class="list-item">
                <div class="list-item-subjectID">
                    <h3> 
                        <a href="/details/<%=subject.subjectID%>">
                            <i class="fa-solid fa-book"></i> <%=subject.subjectID%> 
                        </a>
                    </h3>
                </div>
                <div class="list-item-table" onclick="showLinks(`<%=subject.subjectID%>`)">
                    <table>
                        <tr>
                            <td> <b>Név:</b></td>
                            <td>  <%=subject.subjectName %></td>
                        </tr>
                        <tr>
                            <td><b>Évfolyam:</b></td>
                            <td><%= subject.year %></td>
                        </tr>
                        <tr>
                            <td> <b>Kurzusok:</b></td>
                            <td><%= subject.numberOfCourses %></td>
                        </tr>
                        <tr>
                            <td><b>Szeminariumok:</b></td>
                            <td><%= subject.numberOfSeminars %></td>
                        </tr>
                        <tr>
                            <td><b>Laborok:</b></td>
                            <td> <%= subject.numberOfLabs %></td>
                        </tr>
                    </table>
                </div>
                <div id="<%=subject.subjectID%>"></div>
            </div>

            <% } }) %>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script src="/main.js"></script>
</body>

</html>