<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <nav class="topnav">
        <a href="" class="active">Home</a>
        <a href="subject">New subject</a>
        <a href="file">Upload file</a>
        <a href="student">Join subject</a>
    </nav>
    <div>
        <% subjects.forEach((subject) => { %>
            <div class="list-item" id="<%=subject.subjectID%>">
                <div class="list-item-subjectID">Egyedi kod: <a href="/subjects/<%=subject.subjectID%>"><%=subject.subjectID%></a></div>
                <div class="list-item-subjectName">Nev: <%=subject.subjectName %></div>
                <div class="list-item-year" >Evfolyam: <%= subject.year %></div>
                <div class="list-item-course" >Kurzusok szama: <%= subject.numberOfCourses %></div>
                <div class="list-item-seminar" >Szeminariumok szama: <%= subject.numberOfSeminars %></div>
                <div class="list-item-lab" >Laborok szama: <%= subject.numberOfLabs %></div>
            </div>
        <% }) %>
    </div>
</body>

</html>