<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diak</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <nav class="topnav">
        <img src="/pictures/user.png" alt="user" onclick="openUserInformations()">
        <a href="/">Home</a>
        <a href="/subject">New subject</a>
        <a href="#" class="active">Join subject</a>
        <% if(role=='admin'){ %>
            <a href="/signup">Sign up</a>
        <% } %>
    </nav>
    <%- include('./partials/userInformation.ejs') %>
    <div class="formContainer">
        <div class="uploadForm">
            <h3>Diák tantárgyhoz adása</h3>
            <form action="/student" method="post" enctype="multipart/form-data">
                <label for="studentID">Diák ID:</label>
                <br>
                <select name="studentID" id="studentID">
                    <% students.forEach((student)=> { %>
                        <option value="<%=student.studentID %>">
                            <%=student.studentID %>
                        </option>
                        <% }) %>
                </select>
                <br>
                <label for="studentName">Név:</label>
                <br>
                <select name="studentName" id="studentName">
                    <% students.forEach((student)=> { %>
                        <option value="<%=student.studentName%>">
                            <%=student.studentName %>
                        </option>
                        <% }) %>
                </select>
                <br>
                <label for="subjectID">Tantárgy kódja:</label>
                <br>
                <select name="subjectID" id="subjectID">
                    <% subjects.forEach((subject)=> { %>
                        <option value="<%=subject.subjectID %>">
                            <%=subject.subjectID %>
                        </option>
                        <% }) %>
                </select>
                <br>
                <label for="connection">Tantárgyhoz való:</label>
                <br>
                <select name="connection">
                    <option value="join">Csatlakozás</option>
                    <option value="unjoin">Kilépés</option>
                </select>
                <br>
                <input class="submit" type="submit" value="Submit">
                <label style="color: red;">
                    <%=error %>
                </label>
            </form>
        </div>
    </div>
        <%- include('./partials/footer.ejs') %>
            <script src="/main.js"></script>
</body>

</html>