<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tantárgyak</title>
    <link rel="stylesheet" href="/main.css">

</head>

<body>
    <nav class="topnav">
        <img src="/pictures/user.png" alt="user" onclick="openUserInformations()">
        <a href="/">Home</a>
        <a href="#" class="active">New subject</a>
        <a href="/student">Join subject</a>
        <a href="/schedule">Schedule</a> 
        <% if(role=='admin'){ %>
            <a href="/teacher" >Add teacher</a>
            <a href="/signup">Sign up</a>
        <% } else { %>
            <a href="/timetable/teacher/<%=username%>">Timetable</a> 
        <%}%>    
    </nav>

    <%- include('./partials/userInformation.ejs') %>
    <div class="formContainer">
        <div class="uploadForm">
            <h3>Új tantárgy felvezetése</h3>
            <form action="/subject" method="post" id="form_tantargyak" enctype="multipart/form-data">

                <label for="subjectID">Egyedi kód: </label>
                <br>
                <input class="input" type="text" name="subjectID" id="subjectID" value="<%=subject.subjectID %>"
                    required />
                <br>
                <label for="subjectName">Név:</label>
                <br>
                <input class="input" type="text" name="subjectName" id="subjectName" value="<%=subject.subjectName %>"
                    required onblur="nameValidator()" />
                <br>
                <label for="year">Évfolyam:</label>
                <br>
                <select name="year" id="year" value="<%=subject.year%>" required>
                    <% years.forEach((year)=> { %>
                        <option value="<%=year.groupID%>"><%=year.groupID%></option>
                    <% }) %>
                </select>
                <br>
                <label for="course">Kurzusok száma:</label>
                <br>
                <input class="input" type="number" name="course" id="course" value="<%=subject.course %>" required
                    onblur="courseValidator()" />
                <br>
                <label for="seminar">Szemináriumok száma:</label>
                <br>
                <input class="input" type="number" name="seminar" id="seminar" value="<%=subject.seminar %>" required
                    onblur="seminarValidator()" />
                <br>
                <label for="lab">Laborok száma: </label>
                <br>
                <input class="input" type="number" name="lab" id="lab" value="<%=subject.lab %>" required
                    onblur="labValidator()" />
                <br>
                <input type="submit" value="Submit" class="submit" />
                <label style="color: red;">
                    <%=error %>
                </label>
            </form>
        </div>
    </div>
        <%- include('./partials/footer.ejs') %>
            <script src="/main.js"></script>
</body>

</html>